footer {
    background:  #1a94a1;
    text-align: center;
    padding: 50px 0px 25px 0px;
    p {
        @include p-class;
        text-align: center;
        padding-bottom: 20px;
    }
    .btn-con {
        display: flex;
        // background: orange;
        justify-content: center;
        align-items: center;
        a {
            @include p-class;
            @include btn-class;
            max-width: 700px;
            margin: 0px 20px 20px 20px;
        }
    }
}

hr {
    margin: 50px 0px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    div {
        display: flex;
        justify-content: space-evenly;
        // background: green;
        flex: 1;
        padding: 20px 50px;
        img {
            box-sizing: border-box;
            margin: 10px;
            height: 50px;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .btn-wrap {
        padding-top: 100px;
        .btn-con {
            a {
                margin: 0px $tablet-margin $tablet-margin $tablet-margin;
            }
        }
    }
}

@media screen and (min-width: $desktop-size) {
    .btn-wrap {
        padding-top: 100px;
        .btn-con {
            a {
                margin: 0px $desktop-margin $desktop-margin $desktop-margin;
            }
        }
    }
}