.nav-positioning {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
    background: rgba(53, 192, 208, 0.70);
}

.main-nav-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $mobile-margin;
    // background: tomato;
    position: relative;
}

.main-nav {
	display: none;
}

.hamburger-nav-con {
    display: flex;
    flex-direction: column;
}

.hamburger-nav-con.slide-toggle {
    right: 0;
    position: fixed;
    width: 50%;
    background: rgba(53, 192, 208, 0.90);
    top: 0;
    padding: $mobile-margin $mobile-margin 0px 0px;
}

.hamburger {
	font-size: 40px;
	color: white;
    transition: all .2s ease-in-out;
    align-self: flex-end;
    z-index: 2;
}

.hamburger.expanded {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: center center;
    opacity: 0.8;
}

.main-nav.slide-toggle {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// position: absolute;
    height: 100vh;
	padding: 50px;
	right: 0;
    ul {
        margin-top: 60px;
        li {
            margin-bottom: 55px;
        }
    }
    a {
        @include h3-class;
        color: white;
        transition: all ease;
        &:focus {
            color: $pink;
        }
        &:hover {
            color: $pink;
        }
    }
}

.logo {
    max-width: 20px;
}

.main-social {
    display: flex;
    flex-direction: row;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            box-sizing: border-box;
            height: 30px;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .main-nav-con {
        padding: $tablet-margin;
    }
    .hamburger-nav-con.slide-toggle {
        padding: $tablet-margin $tablet-margin 0px 0px;
    }
}

@media screen and (min-width: $desktop-size) {
    .nav-positioning {
        // position: static;
        border-bottom: 1px solid rgba(53, 193, 208, 0.4);
    }

    .hamburger {
        display: none;
    }

    .hamburger-nav-con {
        flex: 1;
    }

    .main-nav-con {
        padding: 30px $desktop-margin;
        a {
            transition: all .3s ease;
            &:hover {
                color: $pink;
            }
        }
    }

    .main-nav {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: space-between;
        }
        a {
            @include h3-class;
            color: white;
        }
    }

    .main-social {
        display: none;
    }

    .logo {
        align-self: center;
        margin-right: 300px;
    }
}