<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- sets site size to equal the device width -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- reset before main css (reset, then rewrite) -->
	<link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    
    <title>Responsive Web Template</title>
</head>

<body>
    <main>
        <h1>You can do it!</h1>
        <img src="images/smiley.jpeg" alt="smile!">
    </main>
        
	<script src="js/main.js"></script>
</body>
</html>